 body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        form {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            border: 1px solid gray;
            border-bottom-right-radius: px;
            border-bottom-left-radius: px;
            border-top: none;
            border-bottom: none;
            margin-bottom: -40px;
        }
        .main-form{
            border-bottom: 1px solid gray;
            margin-bottom: 5px;
        }
        .head{
            margin-top: 1px;
            margin-bottom: -1px;
            padding-left: 70px;
            padding-right: 11px;
            width: 361px;
            margin-left: 387px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
             
            font-family: 'Times New Roman', Times, serif;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: white;
        }
        @media (max-width: 768px) {
  .head {
    margin-left: -1px;
    width: 357px;
  }
}
        h1{
            border: 1px black;
        }
        label {
            display: block;
            margin: 10px 0 5px;
        }
        label .required {
            color:  red;
            margin-left: -2px;
        }
        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid gray;
            border-radius: 5px;
        }
        button{
        padding: 7px 50px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            background-color: darkgreen;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-left: 65px;
            align-items: center;
       }
       button:hover{
        background-color: lightgreen;
        color: black;
       }
       .file-upload-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
          .success-message{
            color: green;
          }
        #fileToUpload {
            width: 200px; /* Smaller input width */
            margin-right: 10px; /* Space between file input and button */
        }

        #upload-btn {
            padding: 10px 10px;
            font-size: 16px;
            font-weight: bold;
            color: white;
            background-color: darkgreen;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #upload-btn:hover {
            background-color: lightgreen;
            color: black;
        }